<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>header}}
        {{>navbar}}
        <div class = "jumbotron text-center">
            This website is created by Shashikant Kadam as a project while learning Node js.<br/>
            It makes use of <a href = "www.mapbox.com">Mapbox API</a> to obtain coordinates for given location,<br/>
            and <a href = "www.darksky.net">Darksky API</a> to obtain weather details using the coordinates.<br/>
            Feel free to browse through this and other projects at <a href = "www.github.com/shashikdm">www.github.com/shashikdm</a><br/>
        </div> 
        {{>footer}}
    </body>
</html>