<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>header}}
        {{>navbar}}
        <div class = "jumbotron text-center">
            Just type in the name of the place (town/city/landmark/state) in the search box and click submit
        </div> 
        {{>footer}}
    </body>
</html>